<template>
  <div class="container">
    <p class="text-left ml-5 font-weight-bold">Ручная дуговая сварка сталей штучными электродами - АНО-3</p>
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th scope="col">Код ЗВ</th>
        <th scope="col">Название загрязняющего вещества (ЗВ) </th>
        <th scope="col">Коэф</th>
      </tr>
      </thead>
      <tbody v-for="item in ano3" :key="item.code" class="table-bordered">
      <tr>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.coef }}</td>
      </tr>
      </tbody>
    </table>
    <br>
    <p class="text-left ml-5 font-weight-bold">Ручная дуговая сварка сталей штучными электродами - АНО-6</p>
    <table class="table table-hover">
      <thead class="">
      <tr>
        <th scope="col">Код ЗВ</th>
        <th scope="col">Название загрязняющего вещества (ЗВ) </th>
        <th scope="col">Коэф</th>
      </tr>
      </thead>
      <tbody v-for="item in ano6" :key="item.code" class="table-bordered">
      <tr>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.coef }}</td>
      </tr>
      </tbody>
    </table>
    <br>
    <p class="text-left ml-5 font-weight-bold">Ручная дуговая сварка сталей штучными электродами - МР-3</p>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Код ЗВ</th>
        <th scope="col">Название загрязняющего вещества (ЗВ) </th>
        <th scope="col">Коэф</th>
      </tr>
      </thead>
      <tbody v-for="item in mp3" :key="item.code" class="table-bordered">
      <tr>
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.coef }}</td>
      </tr>
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-between">
      <div class="input-group mb-3 mr-5">
        <div class="input-group-prepend">
          <span class="input-group-text">Количество : </span>
        </div>
        <input type="text" class="form-control" v-model="col" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3 ml-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Коэффициент : </span>
        </div>
        <select id="inputState" v-model="coef" class="form-control">
          <option selected>15.42</option>
          <option>14.97</option>
          <option>1.73</option>
          <option>9.77</option>
          <option>0.4</option>
        </select>
      </div>
    </div>
    <div class="text-center">
      <button @click="addTable(coef,col)" class="btn btn-success btn-lg mb-3 pr-5 pl-5">
        Добавить
      </button>
    </div>
    <table class="table table-hover mb-5">
      <thead>
      <tr>
        <th scope="col">Код ЗВ</th>
        <th scope="col">Название загрязняющего вещества (ЗВ) </th>
        <th scope="col">Результат 1 </th>
        <th scope="col">Результат 2 </th>
      </tr>
      </thead>
      <tbody class="table-bordered">
      <tr v-if="table_res.length === 0">
        <td></td>
        <td>No data</td>
        <td></td>
        <td></td>
      </tr>
      <tr v-else v-for="item in table_res" :key="item.code">
        <td>{{ item.code }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.res1 }}</td>
        <td>{{ item.res2 }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'MethodCalc',
  data () {
    return {
      ano3: [
        {
          code: '0123',
          name: 'Железо (II) оксид',
          coef: '15.42'
        }
      ],
      ano6: [
        {
          code: '0123',
          name: 'Железо (II) оксид',
          coef: '14.97'
        },
        {
          code: '0143',
          name: 'Марганец и его соединения',
          coef: '1.73'
        }
      ],
      mp3: [
        {
          code: '0123',
          name: 'Железо (II) оксид',
          coef: '9.77'
        },
        {
          code: '0143',
          name: 'Марганец и его соединения',
          coef: '1.73'
        },
        {
          code: '0342',
          name: 'Фтористые газообразные соединения (в пересчете на\n' +
              'фтор) ',
          coef: '0.4'
        }
      ],
      table_res: [],
    }
  },
  methods: {
    addTable (coef, col) {
      let i;
      for(i = 0; i < this.ano3.length; i++){
        if(coef === this.ano3[i].coef){
          this.name = this.ano3[i].name
          this.code = this.ano3[i].code
        }
      }
      for(i = 0; i < this.ano6.length; i++){
        if(coef === this.ano6[i].coef){
          this.name = this.ano6[i].name
          this.code = this.ano6[i].code
        }
      }
      for(i = 0; i < this.mp3.length; i++){
        if(coef === this.mp3[i].coef){
          this.name = this.mp3[i].name
          this.code = this.mp3[i].code
        }
      }
      this.table_res.push({
        code: this.code,
        name: this.name,
        res1: (coef*col/3600).toFixed(6),
        res2: (coef*col/10000).toFixed(6)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
table{

}
thead{
  color: #fff;
  background: green;
}
</style>
